./Natural Language Processing/word_frequencies/all_word_frequencies.pickle
./Natural Language Processing/word_frequencies/all_words.pickle
./Natural Language Processing/word_frequencies/documents.pickle
./Natural Language Processing/word_frequencies/featureset.pickle
./Natural Language Processing/word_frequencies/word_features.pickle